<ion-header>
  <ion-toolbar>
    <ion-icon expand="block" [routerLink]="['..']" routerLinkActive="router-link-active" slot="start" name="caret-back">
    </ion-icon>
    <ion-title>{{this.tricepTitle}}</ion-title>

  </ion-toolbar>


</ion-header>


<ion-content>
  <ion-col>
    <div class="ion-text-center">
  <ion-text color="primary">
    <h1>{{this.tricepTitle}}</h1>
  </ion-text>
</div>
</ion-col>
  <ion-card *ngFor="let element of this.tricepData">
    <ion-card-header>
      <ion-card-title>{{element.nombre}}</ion-card-title>
      <ion-card-subtitle>{{element.descripcion}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-img [src]="element.img"></ion-img>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/dKsLaEljeXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-card>

</ion-content>
