.item ion-thumbnail {
  min-width: 5rem;
  min-height: 5rem;

  img {
    max-width: 5rem;
    min-width: 5rem;
  }
}

.cut-text{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
    height: 1.2em;
    white-space: nowrap;
}
