

<ion-header>
<ion-toolbar>
  <ion-icon expand="block" [routerLink]="['../menu']" routerLinkActive="router-link-active" slot="start" name="caret-back">
  </ion-icon>
  <ion-title>inicio</ion-title>

</ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
<ion-text color="primary">
  <h1>GMY CUMH</h1>
</ion-text>
</div>
<ion-card>
  <h3>Sabes que hacer ejercicio es bueno para ti, ¿pero sabes cuán bueno es? Descubre de qué manera puede enriquecer tu vida el ejercicio: desde levantar tu estado de ánimo hasta mejorar tu vida </h3>
<p>¿Quieres sentirte mejor, tener más energía, y hasta agregar años a tu vida? Solo tienes que hacer ejercicio.</p>
<P>Los beneficios para salud del ejercicio regular y la actividad física son difíciles de ignorar. Todas las personas se benefician del ejercicio, sin importar la edad, el sexo, o la capacidad física. </P>
<P>¿Necesitas un estímulo emocional? ¿O necesitas relajarte después de un día estresante? Una sesión de gimnasia o una caminata rápida pueden ayudar. La actividad física estimula varias sustancias químicas cerebrales que pueden hacer que te sientas más feliz, más relajado y menos ansioso.</P>

<p>Es posible que también te sientas mejor sobre tu aspecto y sobre ti mismo si haces ejercicios regularmente, lo cual puede aumentar tu confianza y mejorar tu autoestima. </p>

<img src="https://d500.epimg.net/cincodias/imagenes/2019/05/02/lifestyle/1556809482_591063_1556811610_noticia_normal.jpg">
<P>¿Estás sin aliento después de hacer las compras o los quehaceres domésticos? La actividad física regular puede mejorar la fuerza muscular y aumentar la resistencia.

  El ejercicio suministra oxígeno y nutrientes a los tejidos y ayuda a que el sistema cardiovascular funcione de manera más eficiente. Y cuando tu salud cardíaca y pulmonar mejora, tienes más energía para hacer las tareas diarias. </P>
<P>¿Te cuesta dormir? La actividad física regular puede ayudarte a quedarte dormido más rápido, a dormir mejor y más profundamente. Simplemente no hagas ejercicio demasiado cerca de la hora de acostarte, porque podrías tener demasiada energía como para irte a dormir.</P>
<P>El ejercicio y la actividad física pueden ser agradables. Te dan la oportunidad de relajarte, disfrutar del aire libre o simplemente participar en actividades que te hacen feliz. La actividad física también puede ayudarte a conectarte con tu familia o amigos en un ambiente social divertido.
</P>
<P>Así que toma una clase de baile, recorre las rutas de senderismo o inscríbete en un equipo de fútbol. Busca una actividad física que disfrutes y hazla. ¿Sentías aburrimiento? Prueba algo nuevo o haz algo con amigos o familiares. </P>

<iframe width="560" height="315" src="https://www.youtube.com/embed/A5wqXRv0DIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</ion-card>
</ion-content>

